{{#if msg}}
  <div class="flash flash-success">{{msg}}</div>
{{/if}}

{{#if warn}}
  <div class="flash flash-warning">{{warn}}</div>
{{/if}}

{{#if err}}
  <div class="flash flash-error">{{err}}</div>
{{/if}}